<div class="wrapper">
    <div class="container my-5">
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbarfelso">
                    <div class="container">
                        <a class="navbar-brand navbal" href="#">
                            <img src="/assets/user.png" alt="" class="btnbalfelso d-inline-block align-text-top">
                            Felvételiző pilóta
                        </a>
                        <a class="navbar-brand navjobb" href="../belepes/belepes.component.html">Űrhajó elhagyása
                            <img src="/assets/logout.png" alt="" class="btnjobbfelso d-inline-block align-text-top">
                        </a>
                    </div>
                </nav>
                <br>
                <p class="tudas-sub">A csata nyertese</p>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card mb-3">
                        <div class="row">
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-4">
                                <span class="circle"></span>
                                <img src="/assets/kenobi@3x.png" class="img-card img-fluid rounded" alt="...">
                                <p class="voldalnev">obi-van Kenobi</p>
                            </div>
                            <div class="col-md-4">
                            </div>
                            <div class="form-group">
                                <a href="karakter"><button type="button" class="vissza btn btn-warning">Vissza a
                                        fedélzetre</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="push"></div>