<div class="wrapper">
    <div class="container my-5">
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbarfelso">
                    <div class="container">
                        <a class="navbar-brand navbal" href="#">
                            <img src="/assets/user.png" alt="" class="btnbalfelso d-inline-block align-text-top">
                            Felvételiző pilóta
                        </a>
                        <a class="navbar-brand navjobb" href="../belepes/belepes.component.html">Űrhajó elhagyása
                            <img src="/assets/logout.png" alt="" class="btnjobbfelso d-inline-block align-text-top">
                        </a>
                    </div>
                </nav>
                <br>
                <nav class="navbar navbaralso d-flex">
                    <div class="container containeralso d-flex">
                        <a class="rectangle item"><span></span> </a>
                        <div class="square item"></div>
                        <a>
                            <div class="oldaltext item">OLDAL</div>
                            <div class="oldalszin item">Sötét</div>
                        </a>
                        <a class="navbar-brand item">
                            <img src="/assets/star.png" alt="" class="star d-inline-block align-text-top"></a>
                        <a>
                            <div class="kulero item">KÜLÖNLEGES ERŐ</div>
                            <div class="kuleromegn item">Páncélzat</div>
                        </a>
                        <a class="navbar-brand itemjobbnyil" href="darth">
                            <img src="/assets/arrow_circle.png" alt="" class="d-inline-block align-text-top"></a>
                        <a class="navbar-brand itembalnyil" href="luke">
                            <img src="/assets/arrow_circle_right.png" alt="" class="d-inline-block align-text-top"></a>
                    </div>
</nav>
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="card-body">
                                            <h5 class="card-title-firstname">Boba</h5>
                                            <h5 class="card-title-surname">Fett</h5>
                                            <p class="card-text">Boba Fett egy mandalori származású harcos és fejvadász
                                                volt. Nem természetes úton jött világra, ugyanis a hírhedt mandalori
                                                fejvadász, Jango Fett klónja és fogadott gyermeke volt, akinek kérésére
                                                a
                                                kaminoiak hozták létre a Yavini csata előtt 32-ben.</p>
                                        </div>
                                        <div class="form-group">
                                            <a href="karakterszerk"><button type="button"
                                                    class="karakterszerkbtn btn btn-warning">Karakterek
                                                    szerkesztése</button></a>
                                            <a href="harc"><button type="button"
                                                    class="harcbtn btn btn-warning">Küzdelem indítása</button></a>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="circle"></div>
                                        <img src="/assets/boba@3x.png" class="img-card img-fluid rounded" alt="...">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="push"></div>