<div class="wrapper">
    <div class="container my-5">
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbarfelso">
                    <div class="container">
                        <a class="navbar-brand navbal" href="#">
                            <img src="/assets/user.png" alt="" class="btnbalfelso d-inline-block align-text-top">
                            Felvételiző pilóta
                        </a>
                        <a class="navbar-brand navjobb" href="../belepes/belepes.component.html">Űrhajó elhagyása
                            <img src="/assets/logout.png" alt="" class="btnjobbfelso d-inline-block align-text-top">
                        </a>
                    </div>
                </nav>
            </div>
            <nav class="navbar navbaralso">
                <div class="container">
                    <a class="navbar-brand navbal" href="#">
                        <img src="/assets/chevron.png" alt="" class="btnbalfelso d-inline-block align-text-top">
                        Karakterek szerkesztése
                    </a>
                    <div class="form-group">
                        <a href="karakter"><button type="button"
                                class="karakterbemutatasbtn btn btn-warning">Karakterek bemutatása</button></a>
                    </div>
                </div>
            </nav>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table">
                    <tr>
                        <th>NÉV</th>
                        <th>OLDAL</th>
                        <th>KÜLÖNLEGES ERŐ</th>
                        <th>MIDIKLORIAN</th>
                        <th class="masolas">Másolás</th>
                        <th class="modositas">Módosítás</th>
                        <th class="torles">Törlés</th>
                    </tr>
                    <tr>
                        <td>Darth Vader</td>
                        <td>Sötét</td>
                        <td>Erő használata</td>
                        <td>30000</td>
                        <td class="masolas">Másolás</td>
                        <td class="modositas">Módosítás</td>
                        <td class="torles">Törlés</td>
                    </tr>
                    <tr>
                        <td>Darth Maul</td>
                        <td>Sötét</td>
                        <td>Erő használata</td>
                        <td>9000</td>
                        <td class="masolas">Másolás</td>
                        <td class="modositas">Módosítás</td>
                        <td class="torles">Törlés</td>
                    </tr>
                    <tr>
                        <td>Grievous tábornok</td>
                        <td>Sötét</td>
                        <td>Kibernetikus test</td>
                        <td>5000</td>
                        <td class="masolas">Másolás</td>
                        <td class="modositas">Módosítás</td>
                        <td class="torles">Törlés</td>
                    </tr>
                    <tr>
                        <td>Boba Fett</td>
                        <td>Sötét</td>
                        <td>Páncélzat</td>
                        <td>2000</td>
                        <td class="masolas">Másolás</td>
                        <td class="modositas">Módosítás</td>
                        <td class="torles">Törlés</td>
                    </tr>
                    <tr>
                        <td>Phasma</td>
                        <td>Sötét</td>
                        <td>Harcászati tapasztalat</td>
                        <td>1000</td>
                        <td class="masolas">Másolás</td>
                        <td class="modositas">Módosítás</td>
                        <td class="torles">Törlés</td>
                    </tr>
                    <tr>
                        <td>Birodalmi rohamosztagos</td>
                        <td>Sötét</td>
                        <td>Fehér páncélzat</td>
                        <td>500</td>
                        <td class="masolas">Másolás</td>
                        <td class="modositas">Módosítás</td>
                        <td class="torles">Törlés</td>
                    </tr>
                    <tr>
                        <td>Luke Skywalker</td>
                        <td>Világos</td>
                        <td>Erő használata</td>
                        <td>13000</td>
                        <td class="masolas">Másolás</td>
                        <td class="modositas">Módosítás</td>
                        <td class="torles">Törlés</td>
                    </tr>
                    <tr>
                        <td>Obi-Wan Kenobi</td>
                        <td>Világos</td>
                        <td>Erő használata</td>
                        <td>15000</td>
                        <td class="masolas">Másolás</td>
                        <td class="modositas">Módosítás</td>
                        <td class="torles">Törlés</td>
                    </tr>
                    <tr>
                        <td>Anakin Skywalker</td>
                        <td>Világos</td>
                        <td>Erő használata</td>
                        <td>30000</td>
                        <td class="masolas">Másolás</td>
                        <td class="modositas">Módosítás</td>
                        <td class="torles">Törlés</td>
                    </tr>
                    <tr>
                        <td>Rey</td>
                        <td>Világos</td>
                        <td>Erő használata</td>
                        <td>12000</td>
                        <td class="masolas">Másolás</td>
                        <td class="modositas">Módosítás</td>
                        <td class="torles">Törlés</td>
                    </tr>
                    <tr>
                        <td>Yoda</td>
                        <td>Világos</td>
                        <td>Erő használata</td>
                        <td>20000</td>
                        <td class="masolas">Másolás</td>
                        <td class="modositas">Módosítás</td>
                        <td class="torles">Törlés</td>
                    </tr>
                    <tr>
                        <td>Han Solo</td>
                        <td>Világos</td>
                        <td>Űrcsempész</td>
                        <td>1500</td>
                        <td class="masolas">Másolás</td>
                        <td class="modositas">Módosítás</td>
                        <td class="torles">Törlés</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="push"></div>