@font-face {
    font-family: "Poppins-Black";
    src: url(/assets/Poppins-Black.ttf) format("truetype");
}

@font-face {
    font-family: "Poppins-Bold";
    src: url(/assets/Poppins-Bold.ttf) format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "Poppins-ExtraBold";
    src: url(/assets/Poppins-ExtraBold.ttf) format("truetype");
    font-weight: 900;
}

@font-face {
    font-family: "Poppins-Medium";
    src: url(/assets/Poppins-Medium.ttf) format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Poppins-Regular";
    src: url(/assets/Poppins-Regular.ttf) format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Galaxyoutline";
    src: url(/assets/SfDistantGalaxyAltoutline-e2Bp.ttf) format("truetype");
}

@font-face {
    font-family: "Starjedi";
    src: url(/assets/Starjedi.ttf) format("truetype");
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;  
}

.btnbalfelso {
    padding-right: 20px;
}

.btnjobbfelso {
    padding-left: 20px;
}

.navbarfelso {
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 50px;
}

.navbaralso {
    padding-bottom: 50px;
}

.navbal {
    font-family: "Poppins-Bold", sans-serif;
    font-size: 16px;
    color: #FFFFFF;
}

.navbal:hover {
    font-family: "Poppins-Bold", sans-serif;
    font-size: 16px;
    color: #8A8A8A;
}

.navbal:visited {
    font-family: "Poppins-Bold", sans-serif;
    font-size: 16px;
    color: #FFFFFF;
}

.navbal:active {
    font-family: "Poppins-Bold", sans-serif;
    font-size: 16px;
    color: #FFFFFF;
}

.navjobb {
    font-family: "Poppins-Bold", sans-serif;
    font-size: 16px;
    color: #FFFFFF;
}

.navjobb:hover {
    font-family: "Poppins-Bold", sans-serif;
    font-size: 16px;
    color: #8A8A8A;
}

.navjobb:visited {
    font-family: "Poppins-Bold", sans-serif;
    font-size: 16px;
    color: #FFFFFF;
}

.navjobb:active {
    font-family: "Poppins-Bold", sans-serif;
    font-size: 16px;
    color: #FFFFFF;
}

.navhr {
    color: white;
}

.container {
    align-items: center;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.pagination {
    color: #FFFFFF;
    background: none;
}

.table {
    width: 100%;
    color: #FFFFFF;
    text-align: left;
}

table td {
    font-family: "Poppins-Regular", sans-serif;
    background-color: #FFFFFF;
    font-size: 16px;
    border-top: 1px solid #FFFFFF;
}

table th {
    font-family: "Poppins-Bold", sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    border-bottom: 1px solid #F7B500;
}

.masolas {
    font-family: "Poppins-Bold", sans-serif;
    font-size: 16px;
    color: #FFFFFF;
}

.modositas {
    font-family: "Poppins-Bold", sans-serif;
    font-size: 16px;
    color: #F7B500;
}

.torles {
    font-family: "Poppins-Bold", sans-serif;
    font-size: 16px;
    color: #FF3232;
}

.karakterbemutatasbtn {
    width: 100%;
    font-family: "Poppins-Bold", sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #000000;
    border: 1px solid #F7B500;
}

.karakterbemutatasbtn:hover {
    width: 100%;
    color: #FFFFFF;
    font-family: "Poppins-Bold", sans-serif;
    font-size: 16px;
    background-color: #F7B500;
    border: 1px solid #000000;
}

.webstarcim {
    font-family: "Starjedi", sans-serif;
    color: #FFFFFF;
    font-size: 30px;
}

.frontendoutline {
    font-family: "Galaxyoutline", sans-serif;
    color: #FFFFFF;
    font-size: 70px;
    margin-bottom: 80px;
}

.containeralso {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    flex-wrap: nowrap;
}

.nyertesbtn {
    width: 60%;
    font-family: "Poppins-Bold", sans-serif;
    font-size: 16px;
    background-color: #F7B500;
}

.nyertesbtn:hover {
    width: 60%;
    color: #FFFFFF;
    font-family: "Poppins-Bold", sans-serif;
    font-size: 16px;
    background-color: #000000;
    border: 1px solid #F7B500;
}


.karakterszerkbtn {
    width: 40%;
    color: #FFFFFF;
    font-family: "Poppins-Bold", sans-serif;
    font-size: 16px;
    background-color: #000000;
    border: 1px solid #F7B500;
}

.karakterszerkbtn:hover {
    width: 40%;
    color: #000000;
    font-family: "Poppins-Bold", sans-serif;
    font-size: 16px;
    background-color: #F7B500;
    border: 1px solid #000000;
}

.harcbtn {
    width: 30%;
    font-family: "Poppins-Bold", sans-serif;
    font-size: 16px;
    background-color: #F7B500;
}

.harcbtn:hover {
    width: 30%;
    color: #FFFFFF;
    font-family: "Poppins-Bold", sans-serif;
    font-size: 16px;
    background-color: #000000;
    border: 1px solid #F7B500;
}

.card {
    width: 100%;
    background: none;
    color: #FFFFFF;
    border: none;
}

.img-cardbal {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    /*background: #333333;*/
    border-radius: 50%;
}

.img-cardjobb {
    /*background: #FFFFFF;*/
    border-radius: 50%;
}

.linebal {
    height: 15px;
    text-align: left;
    width: 100%;
    display: block;
    background: linear-gradient(to left, #FFFFFF 60%, #FF3232 40%);
}

.linejobb {
    height: 15px;
    text-align: right;
    width: 100%;
    display: block;
    background: linear-gradient(to left, #F7B500 68%, #FFFFFF 32%);
}

.szazalek {
    font-family: "Poppins-Bold", sans-serif;
    font-size: 24px;
    color: #FFFFFF;
    text-align: center;
}

.circle {
    color: #F7B500;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
}

.img-card {
    position: relative;
}

.card-title-firstname, .card-title-surname {
    font-family: "Starjedi", sans-serif;
    font-size: 90px;
    color: #FFFFFF;
    text-align: left;
}

.tudas-sub {
    font-family: "Starjedi", sans-serif;
    font-size: 60px;
    color: #FFFFFF;
    text-align: center;
}

.soldal{
    font-family: "Poppins-Black", sans-serif;
    font-size: 24px;
    color: #FFFFFF;
    text-align: center;
}

.voldal{
    font-family: "Poppins-Black", sans-serif;
    font-size: 24px;
    color: #FFFFFF;
    text-align: center;
}

.soldalnev{
    font-family: "Starjedi", sans-serif;
    font-size: 40px;
    color: #FFFFFF;
    text-align: left;
}

.voldalnev{
    font-family: "Starjedi", sans-serif;
    font-size: 40px;
    color: #FFFFFF;
    text-align: right;
}

.soldalszaz, .voldalszaz{
    font-family: "Poppins-Bold", sans-serif;
    font-size: 24px;
    color: #FFFFFF;
    text-align: center;
}

.card-text {
    font-family: "Poppins-Regular", sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    text-align:initial;
}

.card-body {
    position: relative;
}

.square {
    align-items: flex-start;
    flex-grow: 0;
    color: #000000;
    height: 52px;
    width: 52px;
    border: 6px solid #FFFFFF;
}

.star {
    flex-grow: 2;
    background-color: #F7B500;
    width: 50px;
    height: 50px;
    border: 8px solid #F7B500;
    margin-left: 70px;
}

.oldaltext {
    flex-grow: 2;
    font-family: "Poppins-Bold", sans-serif;
    font-size: 16px;
    color: #F7B500;
    margin-left: 21px;
    text-align: left;
}

.oldalszin {
    flex-grow: 2;
    font-family: "Poppins-Black", sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    margin-left: 21px;
    text-align: left;
}

.kulero {
    flex-grow: 2;
    font-family: "Poppins-Bold", sans-serif;
    font-size: 16px;
    color: #F7B500;
    text-align: left;
    margin-left: 10px;
}

.kuleromegn {
    flex-grow: 2;
    font-family: "Poppins-Black", sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    text-align: left;
    margin-left: 10px;
}

.itemjobbnyil {
    flex-direction: row-reverse;
    flex-grow: 1;
    align-items: flex-end;
    text-align: right;
}

.vs-sub {
    font-family: "Galaxyoutline", sans-serif;
    color: #FFFFFF;
    font-size: 150px;
    text-align: center;
    padding-top: 40%;
}

.form-label {
    font-family: "Poppins-Bold", sans-serif;
    color: #FFFFFF;
    font-size: 14px;
}

.form-control {
    margin: 0 auto;
    width: 30%;
    font-family: "Poppins-Regular", sans-serif;
    background-color: #FFFFFF;
    font-size: 16px;
    text-align: center;
    height: 40px;
    align-items: center;
}

.vissza {
    width: 30%;
    font-family: "Poppins-Bold", sans-serif;
    font-size: 16px;
    background-color: #F7B500;
}

.vissza:hover {
    width: 30%;
    color: #FFFFFF;
    font-family: "Poppins-Bold", sans-serif;
    font-size: 16px;
    background-color: #000000;
    border: 1px solid #F7B500;
}

.hibabelepes {
    color: #FF3232;
}

.belepes {
    width: 20%;
    font-family: "Poppins-Bold", sans-serif;
    font-size: 16px;
    background-color: #F7B500;
}

.belepes:hover {
    width: 20%;
    color: #FFFFFF;
    font-family: "Poppins-Bold", sans-serif;
    font-size: 16px;
    background-color: #000000;
    border: 1px solid #F7B500;
}

footer {
    font-family: "Poppins-Regular", sans-serif;
    font-size: 12px;
    color: #FFFFFF;
    align-self: self-end;
    padding-right: 10px;
}

@media only screen and (max-width: 599px) {
    body {
        background-image: url(/assets/bg_1.jpg);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }
        
}

@media only screen and (min-width: 600px) {
    body {
        
        background-image: url(/assets/bg_1.png);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }
        
}

@media only screen and (min-width: 992px) {
    body {
        background-image: url(/assets/bg_1@2x.png);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }
        
}